<footer>
    @Nilesh Patil. All Rights Reserved

    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/"> Profile </a>
        </li>
    </ul>
</footer>