
<br>
<br>
<br>
<form action="/password/reset-password" method="post">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="Enter new password">
    <br>
    <label for="confirm-password">Confirm Password</label>
    <input type="password" name="confirm_password" id="confirm-password" placeholder="Confirm new password">
    <br>
    <input type="hidden" name="token", value="<%=locals.token%>">
    <button type="submit">Reset Password</button>
</form>