
<link rel="stylesheet" href="/css/profile.css">

<title> <%= title %>    </title>

<a href="/users/sign-out">Sign Out</a>
<h1>Its in profile.ejs</h1>

<p>Name: <%= user.name %> </p>
<p>Email: <%= user.email %> </p>