#home-container{
    display: flex;
    margin-top: 1%;
    margin-bottom: 1%;

    #profile-left{
        width: 25%;
        border-right: 1px solid lightgrey;
    }
    
    #feed-posts{
        width: 50%;
        padding: 10px;
        // overflow: scroll;
    }

    #right{
        width: 25%;
        border-left: 1px solid lightgrey;
        padding: 10px;
    }

    #user-friends{
        border-bottom: 1px solid lightgrey;
        height: 30vh;
        overflow-y: scroll;
    }

    #friend{
        display: flex;
        flex-direction: row;
        align-items: center;
        // justify-content: space-between;
    }
    #user{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    #friend:nth-child(2n), #user:nth-child(2n){
        background-color: lightblue;
    }

    .friend-user{
        padding: 0 10px;
    }
}