#layout-footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  color: white;
  background: grey;
  display: flex;
  justify-content: flex-start; }
  #layout-footer div {
    padding: 5px 10px; }
  #layout-footer a {
    color: white;
    text-decoration: none; }
  #layout-footer .footer-nav ul {
    list-style: none; }
