<div>
    <p>Hi <%= user.name %></p>
    <br>
    <p>
        You are receiving this because you (or someone else) have requested the reset of the password for your account. 
    </p>
    <p>
        Please click on the following link, or paste this into your browser to complete the process:
    </p>
    <p>
        <!-- <a href="http://localhost:8000/password/reset-password-link/?token=<%=user.resetPasswordToken%>">Reset Password Link</a> -->
        <a href="http://54.82.11.77:8000/password/reset-password-link/?token=<%=user.resetPasswordToken%>">Reset Password Link</a>
    </p>
    <p>
        If you did not request this, please ignore this email and your password will remain unchanged.
    </p>
    <br>
    <p>Thanks!</p>
</div>

